.container {
  margin-top: 18px;
  width: 280px;
  height: 517px;
  background: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    width: 704px;
    height: 270px;
    margin-top: 24px;
    border-radius: 40px;
  }
}
.title {
  margin-top: 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}
