.containerInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.input {
  border: 1px solid #54adff;
  padding-left: 12px;
  border-radius: 20px;
  width: 190px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.04em;
}

.div {
  margin-top: 60px;
  display: flex;
  width: 264px;
  flex-direction: column;
  margin-left: 8px;
}
.input p {
  margin-right: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
}

.buttonChek {
  position: absolute;
  right: 4px;
  top: 0px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttonEdit {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
