.containerInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  @media (min-width: 768px) {
    margin-bottom: 8px;
    margin-left: 20px;
  }
}
.input {
  border: 1px solid #54adff;
  padding-left: 12px;
  border-radius: 20px;
  width: 190px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  letter-spacing: 0.04em;
  @media (min-width: 768px) {
    width: 255px;
    font-size: 16px;
    line-height: 22px;
    height: 32px;
  }
}

.div {
  margin-top: 60px;
  display: flex;
  width: 264px;
  flex-direction: column;
  margin-left: 8px;
  @media (min-width: 768px) {
    margin-top: 20px;
    width: 355px;
  }
}
.input p {
  margin-right: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.04em;
  @media (min-width: 768px) {
    font-size: 18px;
    line-height: 25px;
  }
}

.buttonChek {
  position: absolute;
  right: 4px;
  top: 0px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.buttonEdit {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
