.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}
.white-icon {
  fill: white;
}
.link {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  width: 100%;
  max-width: 248px;
  padding: 11px 0 12px 14px;
  text-align: center;
  color: #fff;
  background: #54adff;
  border: 1px solid #54adff;
  border-radius: 40px;
  margin: 24px 0 40px 0;
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.link:hover,
.link:focus {
  transform: scale(1.05);
  transition: transform 0.5s;
}
.link:hover:before {
  left: 100%;
}
.link:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transition: all 650ms;
}
.link:disabled {
  opacity: 0.5;
  cursor: auto;
  transform: none;
  transition: none;
}
.link:disabled:before {
  transform: none;
  transition: none;
}
