@import-normalize; /* bring in normalize.css styles */

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FEF9F9;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


