@import-normalize; /* bring in normalize.css styles */

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding-top: 20px;
  background-color: #fef9f9;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
  color: #111111;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 24px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button:hover {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
