.buttonLogOut {
  margin-top: 32px;
  display: flex;
  width: 95px;
  height: 22px;
  align-items: center;
  background-color: transparent;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #888888;
  width: 100px;
  /* padding: 10px 10px; */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  @media (min-width: 768px) {
    margin-top: -10px;
    margin-left: 20px;
  }
  @media (min-width: 1280px) {
    margin-top: 21px;
  }
}
.h1 {
  text-align: center;
  margin-top: 50px;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
}

.div {
  display: flex;
  justify-content: space-evenly;
  margin-top: 48px;
  @media (min-width: 768px) {
    justify-content: space-between;
  }
}

.buttonYes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 80px;
  height: 40px;
  padding: 11px 0 12px 14px;
  text-align: center;
  color: #fff;
  font-weight: 700;
  background: #54adff;
  border: 1px solid #54adff;
  border-radius: 40px;
  margin: 24px 0 40px 0;
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  @media (min-width: 768px) {
    max-width: 140px;
  }
}
.buttonYes:hover,
.button:focus {
  transform: scale(1.05);
  transition: transform 0.5s;
}
.buttonYes:hover:before {
  left: 100%;
}
.buttonYes:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transition: all 650ms;
}
.buttonYes:disabled {
  opacity: 0.5;
  cursor: auto;
  transform: none;
  transition: none;
}
.buttonYes:disabled:before {
  transform: none;
  transition: none;
}

.buttonCancel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 80px;
  height: 40px;
  padding: 11px 0 14px;
  text-align: center;
  color: #54adff;
  font-weight: 700;
  background: transparent;
  border: 1px solid #54adff;
  border-radius: 40px;
  margin: 24px 0 40px 0;
  transform: scale(1);
  transition: transform 0.5s;
  cursor: pointer;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  @media (min-width: 768px) {
    max-width: 140px;
  }
}
.buttonCancel:hover,
.button:focus {
  transform: scale(1.05);
  transition: transform 0.5s;
  background: #54adff;
  color: #fff;
}
.buttonCancel:hover:before {
  left: 100%;
}
.buttonCancel:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transition: all 650ms;
}
.buttonCancel:disabled {
  opacity: 0.5;
  cursor: auto;
  transform: none;
  transition: none;
}
.buttonCancel:disabled:before {
  transform: none;
  transition: none;
}
