.container {
  position: relative;
  background: #ffffff;
  padding: 0px 0px 12px;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;
  width: 280px;
  height: 578px;
  @media (min-width: 768px) {
    width: 336px;
    height: 556px;
  }
  @media (min-width: 1280px) {
    width: 395px;
    height: 534px;
    padding: 0px 0px 12px;
  }
}

.line {
  width: 280px;
  height: 8px;
  background: linear-gradient(290.46deg, #419ef1 0%, #9bd0ff 107.89%);
  border-radius: 40px;
  margin-bottom: 14px;
  animation: gradientAnimation 0.5s linear infinite;
  @media (min-width: 768px) {
    width: 336px;
  }
  @media (min-width: 1280px) {
    width: 395px;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.photo_container {
  width: 280px;
  height: 252px;
  border-radius: 20px;
  overflow: hidden;
  @media (min-width: 768px) {
    width: 336px;
    height: 252px;
    object-fit: cover;
    /* overflow: hidden; */
  }
  @media (min-width: 1280px) {
    width: 395px;
    height: 252px;
  }
}
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_news {
  margin-top: 16px;
  padding: 12px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.01em;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-top: 16px;
}

.bottom_container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.data {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #888888;
}
.link {
  color: #54adff;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-decoration: none;
}
